.App {
    font-family: sans-serif;
    text-align: center;
}

:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
}

#hexagon {
    width: 100px;
    height: 55px;
    background: red;
    position: relative;
}

#hexagon:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid red;
}

#hexagon:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid red;
}

.animate-table {
    display: inline-block;
    margin: 0 0.5rem;
    animation: fadeIn;
    animation-duration: 1s;
    // animation-delay: 1s;
    cursor: pointer;
    // border-color: #6d76c7 !important;
    box-shadow: 0 14px 28px rgba(201, 53, 144, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.animate-table:hover {
    transition: all 1000ms linear;
    top: -4px;
    left: -4px;
    box-shadow: 0 0 0 2px #42d23d inset, 0 0 0 4px white inset;
    border-color: #e754af !important;
    background: #7279b8 !important;
    box-shadow: 0 14px 28px rgba(53, 201, 115, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

// .animate__animated.animate__bounce {
//     --animate-duration: 2s;
//     --animate-delay: 2s;
// }
#table1 {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: relative;
    top: 0;
    left: 0;
    box-shadow: 0 14px 28px rgba(201, 53, 144, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background: url(/img/moon.png) no-repeat center center;
    background-size: cover;
}

#table1 :hover {
    // box-shadow: 2px 2px white, 4px 4px #c76637;
    top: -4px;
    left: -4px;
    box-shadow: 0 0 0 2px #d2973d inset, 0 0 0 4px white inset;
}

#table2 {
    background: lightblue;
    width: 100px;
    height: 100px;
    // -webkit-transition: background-color 2s ease-out;
    // -moz-transition: background-color 2s ease-out;
    // -o-transition: background-color 2s ease-out;
    // transition: background-color 1s ease-out;
}

#table2 :hover {
    background-color: rgba(230, 173, 204, 0.418);
}

#table3 {
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-right: 80px solid rgb(192, 79, 115);
    border-bottom: 40px solid transparent;
}

#table4 {
    width: 100px;
    height: 55px;
    background: rgb(230, 175, 221);
    position: relative;
    background: white;
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 50px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#table4 :hover {
    box-shadow: 2px 2px white, 4px 4px #6d76c7;
    top: -4px;
    left: -4px;
}


