.App {
    font-family: sans-serif;
    text-align: center;
}

:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
}

#hexagon {
    width: 100px;
    height: 55px;
    background: red;
    position: relative;
}

#hexagon:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid red;
}

#hexagon:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid red;
}

.animate-table {
    display: inline-block;
    margin: 0 0.5rem;
    animation: bounce;
    animation-duration: 2s;
}

.animate-table:hover {
    animation: animate__heartBeat;
    animation-duration: 2s;
}

.animate__animated.animate__bounce {
    --animate-duration: 2s;
    --animate-delay: 2s;
}

#piece {
    position: absolute;
    top: 100px;
    left: 50%;
    /* --------------task-7+++ */
    transition: all 1s linear;
}

#table1 {
    background: lightblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    /* shape-outside: url("./img/moon.png"); */
}

#table2 {
    background: lightblue;
    width: 100px;
    height: 100px;
}

#table3 {
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-right: 80px solid lightblue;
    border-bottom: 40px solid transparent;
}

#table4 {
    width: 100px;
    height: 55px;
    background: rgb(230, 175, 221);
    position: relative;
}